/* h1{ 
    font-size: 80px;
    font-style: italic;
}*/
/* #p1, .p1{
    color: red;
}
div{
    color: green;
} */
h1{
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}